<div class="accordion">

  <div class="acc">
    <div class="acc-item" (click)="show('p1')">
      <div class="acc-title">
        Собираете ли вы подарочные боксы?
        <span class="arrow"><img class="panel-icon" [class.icon]="panel ==='p1'" src="../../../assets/image/up.svg" alt=""></span>
      </div>
      <div class="acc-description" [class.acc-description-show]="panel ==='p1'">
        Да, у нас есть такая услуга. Мы можем собрать подарочный бокс на любой вкус, объем и стоимость!
      </div>
    </div>

    <div class="acc-item" (click)="show('p2')">
      <div class="acc-title">
        Сколько у вас разновидностей чая?
        <span class="arrow"><img class="panel-icon" [class.icon]="panel ==='p2'" src="../../../assets/image/up.svg" alt=""></span>
      </div>
      <div class="acc-description" [class.acc-description-show]="panel ==='p2'">
        Cras dictum. Pellentesque habitant morbi tristique senectus et netus
        et malesuada fames ac turpis egestas. Vestibulum ante ipsum primis in
        faucibus orci luctus et ultrices posuere cubilia Curae; Aenean lacinia
        mauris vel est.
      </div>
    </div>

    <div class="acc-item" (click)="show('p3')">
      <div class="acc-title">
        В какой срок осуществляется доставка?
        <span class="arrow"><img class="panel-icon" [class.icon]="panel ==='p3'" src="../../../assets/image/up.svg" alt=""></span>
      </div>
      <div class="acc-description" [class.acc-description-show]="panel ==='p3'">
        Suspendisse eu nisl. Nullam ut libero. Integer dignissim consequat lectus.
        Class aptent taciti sociosqu ad litora torquent per conubia nostra, per
        inceptos himenaeos.
      </div>
    </div>

    <div class="acc-item" (click)="show('p4')">
      <div class="acc-title">
        В какой срок осуществляется доставка?
        <span class="arrow"><img class="panel-icon" [class.icon]="panel ==='p4'" src="../../../assets/image/up.svg" alt=""></span>
      </div>
      <div class="acc-description" [class.acc-description-show]="panel ==='p4'">
        Suspendisse eu nisl. Nullam ut libero. Integer dignissim consequat lectus.
        Class aptent taciti sociosqu ad litora torquent per conubia nostra, per
        inceptos himenaeos.
      </div>
    </div>

  </div>

</div>

