/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';
html,
body {
  width: 100%;
  height: 100%;
}
app-layout{
  display: flex;
  flex-direction: column;
  height: 100%;
}

app-product,
app-product-cart,
app-catalog,
app-main,
app-order,
{
  flex: 1 0 auto;
}
app-footer{
  flex: 0 0 auto;
}


/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';
